<div class="d-grid grid__col--6-6--md m-b-24">
    <div class="card">
        <div class="card-header separator">
            <p class="card-title">Card title</p>
        </div>
        <div class="card-block">
            <p>Add <code>.separator</code> to the <code>.card-header</code> to display a border between
                <code>.card-header</code> and <code>.card-block</code>.</p>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary">Button in footer</button>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <span>
                <p class="card-title">Card title</p>
                <p class="card-subtitle">Card optional subtitle</p>
            </span>
        </div>
        <div class="card-block">
            <p>When adding a subtitle don't forget to wrap both <code>.card-title</code> and <code>.card-subtitle</code>
                in a <code>span</code>.</p><br>
            <p>Add <code>.separator</code> to the <code>.card-footer</code> to display a border between
                <code>.card-block</code> and <code>.card-footer</code>.</p>
        </div>
        <div class="card-footer separator">
            <button class="btn btn-primary">Button in footer</button>
        </div>
    </div>
</div>
